.foter{
    background-color: grey;
    padding: 30px;
    margin-top: 120px;
    text-align: center;
    height: 400px;
    font-size: 30px;
}


#face{
    color: blue;
    margin: 10px;
}
#insta{
    color: red;
    margin: 10px;
}
#twi{
    color: lightskyblue;
    margin: 10px;
}
#what{
    color: green;
    margin: 10px;
}